body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#map{
    z-index: -1;
}

.container {
    width: 430px;
    height: 300px;
    position: absolute;
    right: 3rem;


}

.search-bar , .top-bar , .bottom-bar{
    position: relative;
    margin: 20px;
    width: 25rem;
    padding: 10px;
    height: 2.2rem;
    font-size: 1rem;
    background-color: white;
    border-radius: 5rem;
    font-family: 'Alike', 'Times New Roman', Times, serif;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.top-bar{
    top:-2rem;
    right: 2rem;
}

.bottom-bar{
    right: 2rem;
    top: -2.5rem;
}

.search-bar input{
    width: 80%;
    position: relative;
    top: 0.25rem;
    right: -1rem;
    font-family: 'Alike', 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    letter-spacing: 0em;
    text-align: left;
    border: black;
    padding: 0;
    border: none;
    outline: none;
}

.option {
    position: absolute;
    display: none;
    margin-bottom: 5px;
    padding: 1rem;
    font-size: large;
    background-color: white;
    border-radius: 2rem;
    left: -0.2rem;
}

#home{
    padding-right: 8rem;
    top: 8rem;
}

#chadwick{
    padding-right: 16rem;
    top: 12rem;
}
#manali{
    padding-right: 20rem;
    top: 16rem;
}
#south{
    padding-right: 16rem;
    top: 20rem;
}

.option:hover {
    background-color: #F1F3F8;
}


.container:hover .option{
    display: block;
}

.bus-icon{
    position: relative;
    width: 30px;
    height: 22px;
    left: 90%;
    transform: translateY(-110%);
}

.bus-icon img{
    position: relative;
    top: .3rem;
    width: 85%;
    height: 85%;
    display: block;
    
}

.search-bar .option img{
    position: relative;
    padding-right: 15px;
    height: 18px;
    top: 2px;
}


.location{
    opacity: 60%;
    background: transparent;
}


.current img{
    position: absolute;
    border-radius: 100%;
    cursor: pointer;
    height: 3.5rem;
    bottom: 10%;
    right: 5%;
}

.top-bar img, .bottom-bar img{
    cursor: pointer;
}
