body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#map{
    z-index: -1;
}

.container {
    width: 430px;
    height: 300px;
    position: absolute;
    top: 23px;
    right: 31px;


}

.search-bar {
    margin: 20px;
    padding: 10px;
    height: 30px;
    font-size: large;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.search-bar input{
    width: 80%;
    height:30px;
    top: 40px;
    left: 55px;
    font-family: 'Alike', 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 37.62px;
    letter-spacing: 0em;
    text-align: left;
    border: black;
    padding: 0;
    border: none;
    outline: none;
}



.line-under-search-bar {
    border-bottom: 2px solid #2E2B2B;
    margin-top: -3px;
}

.options {
    margin: 20px;
    margin-top: 5px;
    display: none;
    align-items: center;
    font-size: 15px;
}

.option {
    margin-bottom: 5px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.option:hover {
    background-color: #F1F3F8;
}

.search-bar:focus-within + .options{
    display: block;
}

.bus-icon{
    position: relative;
    width: 30px;
    height: 22px;
    top: 5px;
    left: 85%;
    transform: translateY(-110%);
}

.bus-icon img{
    position: relative;
    width: 80%;
    height: 80%;
    display: block;
    
}

.options .option img{
    position: relative;
    padding-right: 15px;
    height: 18px;
    top: 2px;
}


.location{
    opacity: 60%;
    background: transparent;
}

.options{
    font-family: 'Alike', 'Times New Roman', Times, serif;
    
}

.leaflet-top {
    bottom: 50px;
}

.leaflet-left {
    right: 50px;
}


.current img{
    position: absolute;
    border-radius: 100%;
    cursor: pointer;
    height: 3.5rem;
    bottom: 10%;
    right: 5%;
}
